<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded">We are a Bible believing, Southern Baptist church in Dewy Rose, Georgia.
                <p class="text-faded">We exist to preach Christ crucified and teach the living Word, striving to demonstrate God’s love in both action and speech.</p>
                <a href="https://maps.app.goo.gl/SC7kXXr2LikMhKYV9" class="btn btn-default btn-xl" target="_blank">Get Directions</a>
            </div>
        </div>
    </div>
</section>
