<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded">We are a Bible believing, Southern Baptist church in Dewy Rose, Georgia.
                <p class="text-faded">We exist to preach Christ crucified and teach the living Word, striving to demonstrate God’s love in both action and speech.</p>
                <a href="https://maps.apple.com/?address=2479%20Antioch%20Church%20Rd%20NW,%20Elberton,%20GA%2030634,%20United%20States&auid=5555857575957194272&ll=34.114344,-82.990508&lsp=9902&q=Antioch%20Baptist%20Church%20Cemetery" class="btn btn-default btn-xl" target="_blank">Get Directions</a>
            </div>
        </div>
    </div>
</section>
