<section id="contact">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="section-heading">Contact Us!</h2>
        <hr class="primary">
        <p>Have a question or a prayer request? Let us know!</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Repeat this block for EACH social link -->
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center mb-4">
        <a href="https://youtube.com/@antiochbaptistdewyrose">
          <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <div>@antiochbaptistdewyrose</div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center mb-4">
        <a href="https://www.facebook.com/antioch.dewyrose">
          <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <div>@antioch.dewyrose</div>
        </a>
      </div>
      <!-- Add more social links here -->
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center mb-4">
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <div>Email us</div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center mb-4">
        <a href="sms:+1{{ site.sms_phonenumber }}?&amp;body=Hello, I have a question">
          <i class="fa fa-mobile fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <div>Text us</div>
        </a>
      </div>
      <!-- Example for Instagram -->
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center mb-4">
        <a href="https://www.instagram.com/antioch.dewyrose/">
          <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <div>@antioch.dewyrose</div>
        </a>
      </div>
    </div>
  </div>
</section>
